@import "tailwindcss";

@font-face{
    font-family: "pricedown";
    src: url("../public/pricedown.otf");
}



*{
    user-select: none;
}

html,
body{
    width: 100%;
    height: 100%;
    font-family: "pricedown";
    color: antiquewhite;
}

button:hover{
    box-shadow: 2px 4px 5px white;
    cursor: pointer;
    transition: all 0.1s ease;
}

button:active{
    box-shadow: 0px 0px 0px white;
    cursor: pointer;
}